<a href="https://colab.research.google.com/github/smirzap/AI-dengan-DL/blob/main/regresi_linier_prediksi_gaji_NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PREDIKSI GAJI PEMAIN NBA

Tujuan dari notebook ini adalah untuk memprediksi gaji pemain NBA berdasarkan atribut data yang mereka miliki.

Sumber data berasal dari [Kaggle](https://www.kaggle.com/code/dionisiusdh/nba2k20-data-visualization/data).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/smirzap/AI-dengan-DL/main/NBA-2K.csv')
df.head()

,Unnamed: 0,full_name,rating,jersey,team,position,b_day,height_in_m,weight_in_kg,salary,country,draft_year,draft_round,draft_peak,college,current_age,year_played,body_mass_index,bmi_class,attended_college
0,1,Kawhi Leonard,97,#2,Los Angeles Clippers,F,6/29/1991,2.01,102.1,32742000,USA,2011,1,15,San Diego State,29,9,25.3,Overweight,0
1,2,Giannis Antetokounmpo,96,#34,Milwaukee Bucks,F-G,12/6/1994,2.11,109.8,25842697,Greece,2013,1,15,NaN,26,7,24.7,Normal,1
2,3,Kevin Durant,96,#7,Brooklyn Nets,F,9/29/1988,2.08,104.3,37199000,USA,2007,1,2,Texas,32,13,24.1,Normal,0
3,4,James Harden,96,#13,Houston Rockets,G,8/26/1989,1.96,99.8,38199000,USA,2009,1,3,Arizona State,31,11,26.0,Overweight,0
4,5,Stephen Curry,95,#30,Golden State Warriors,G,3/14/1988,1.91,83.9,40231758,USA,2009,1,7,Davidson,33,12,23.0,Normal,0

In [ ]:
df.describe()

,Unnamed: 0,rating,height_in_m,weight_in_kg,salary,draft_year,draft_round,draft_peak,current_age,year_played,body_mass_index,attended_college
count,428.000000,428.000000,428.000000,428.000000,4.280000e+02,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,214.500000,76.324766,1.995491,97.182009,8.462541e+06,2014.119159,1.088785,18.247664,27.123832,6.200935,24.371262,0.151869
std,123.697211,5.575510,0.083554,10.519589,9.121959e+06,3.905477,0.628418,16.048941,4.087004,3.908413,1.783476,0.359314
min,1.000000,67.000000,1.750000,77.100000,5.000000e+04,2001.000000,0.000000,0.000000,20.000000,1.000000,20.300000,0.000000
25%,107.750000,72.000000,1.930000,89.400000,2.000000e+06,2012.000000,1.000000,4.000000,24.000000,3.000000,23.100000,0.000000
50%,214.500000,75.000000,2.010000,96.600000,4.310160e+06,2015.000000,1.000000,14.500000,27.000000,6.000000,24.200000,0.000000
75%,321.250000,79.000000,2.060000,104.300000,1.211977e+07,2017.000000,1.000000,30.000000,30.000000,9.000000,25.500000,0.000000
max,428.000000,97.000000,2.240000,131.500000,4.023176e+07,2019.000000,2.000000,60.000000,40.000000,19.000000,32.900000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        428 non-null    int64
 1   full_name         428 non-null    object
 2   rating            428 non-null    int64
 3   jersey            428 non-null    object
 4   team              405 non-null    object
 5   position          428 non-null    object
 6   b_day             428 non-null    object
 7   height_in_m       428 non-null    float64
 8   weight_in_kg      428 non-null    float64
 9   salary            428 non-null    int64
 10  country           428 non-null    object
 11  draft_year        428 non-null    int64
 12  draft_round       428 non-null    int64
 13  draft_peak        428 non-null    int64
 14  college           363 non-null    object
 15  current_age       428 non-null    int64
 16  year_played       428 non-null    int64
 17  body_mass_index   428 non-null    float64
 18  bmi_class         428 non-null    object
 19  attended_college  428 non-null    int64
dtypes: float64(3), int64(9), object(8)
memory usage: 67.0+ KB

In [ ]:
# Ambil input variabel yang bernilai numerik
kolom=['rating', 'height_in_m', 'weight_in_kg', 'current_age', 'year_played']

X = df[kolom]
y = df['salary']

In [ ]:
X.describe()

           rating  height_in_m  weight_in_kg  current_age  year_played
count  428.000000   428.000000    428.000000   428.000000   428.000000
mean    76.324766     1.995491     97.182009    27.123832     6.200935
std      5.575510     0.083554     10.519589     4.087004     3.908413
min     67.000000     1.750000     77.100000    20.000000     1.000000
25%     72.000000     1.930000     89.400000    24.000000     3.000000
50%     75.000000     2.010000     96.600000    27.000000     6.000000
75%     79.000000     2.060000    104.300000    30.000000     9.000000
max     97.000000     2.240000    131.500000    40.000000    19.000000

In [ ]:
X.head()

   rating  height_in_m  weight_in_kg  current_age  year_played
0      97         2.01         102.1           29            9
1      96         2.11         109.8           26            7
2      96         2.08         104.3           32           13
3      96         1.96          99.8           31           11
4      95         1.91          83.9           33           12

In [ ]:
len(X), len(y)

(428, 428)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
len(X_train), len(X_test)

(342, 86)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
#scaler = StandardScaler()
# scaler = MinMaxScaler()

In [ ]:
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [ ]:
X_train[:5]

     rating  height_in_m  weight_in_kg  current_age  year_played
66       82         2.11         110.0           21            2
132      78         1.85          78.0           27            7
223      75         2.03          94.8           27            5
31       86         1.96          93.4           24            5
84       80         2.08         118.8           28            9

In [ ]:
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, ElasticNetCV

In [ ]:
model1 = LinearRegression()
model2 = RidgeCV(alphas=(.1, 1, 10, 100), scoring='neg_mean_absolute_error')
model3 = LassoCV(eps=0.1, alphas=[10, 50, 100, 150, 200], cv=5)
model4 = ElasticNetCV(l1_ratio=[.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.], cv=5)

In [ ]:
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)
model4.fit(X_train, y_train)

ElasticNetCV(cv=5, l1_ratio=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0])

In [ ]:
prediksi1 = model1.predict(X_test)
prediksi2 = model2.predict(X_test)
prediksi3 = model3.predict(X_test)
prediksi4 = model4.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
MAE1 = mean_absolute_error(y_test, prediksi1)
MAE2 = mean_absolute_error(y_test, prediksi2)
MAE3 = mean_absolute_error(y_test, prediksi3)
MAE4 = mean_absolute_error(y_test, prediksi4)

print(f'Model1: {MAE1}')
print(f'Model2: {MAE2}')
print(f'Model3: {MAE3}')
print(f'Model4: {MAE4}')

Model1: 5137975.589567243
Model2: 5117719.175194754
Model3: 5137837.775409552
Model4: 5132061.613065206

In [ ]:
df.salary.mean()

8462541.072429907

## Build the Final Model

In [ ]:
model4.fit(X, y)

ElasticNetCV(cv=5, l1_ratio=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0])

In [ ]:
print(model4.intercept_), print(model4.coef_)

-83468561.51255384
[1135757.87150715       0.          -39394.93868392  264980.89036588
  304120.38497236]

(None, None)

In [ ]:
pd.DataFrame(data=model4.coef_, index=X.columns, columns=['Coeff'])

                     Coeff
rating        1.135758e+06
height_in_m   0.000000e+00
weight_in_kg -3.939494e+04
current_age   2.649809e+05
year_played   3.041204e+05

In [ ]:
coeff_df

                     Coeff
rating        1.135758e+06
height_in_m   0.000000e+00
weight_in_kg -3.939494e+04
current_age   2.649809e+05
year_played   3.041204e+05

In [ ]:
# Catat gaji 2022
gaji2022 = 37436858

# Kondisi atribut data LeBron James tahun 2020
leBron = [[97, 2.06, 113.4, 36, 17]]

# prediksi gaji di 2022
est2022 = model4.predict(leBron)

print(f'estimasi gaji: {est2022} dengan kesalahan estimasi: {est2022-gaji2022}')

estimasi gaji: [36941924.57458478] dengan kesalahan estimasi: [-494933.42541522]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but ElasticNetCV was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
# gaji_leBron = 41180000 # 2022
# gaji_Giannis = 39340000  # 2022

gaji_leBron = 37436858 # 2020

# leBron = [[97, 2.06, 113.4, 40, 21]] # 2024
leBron = [[97, 2.06, 113.4, 36, 17]] # 2020

#leBron_2022 = [[96, 2.06, 113, 38, 19]]
#Giannis_2022 =[[97, 2.11, 110, 28, 9]]

est_lebron = model4.predict(leBron)
print(f'prediksi gaji:{est_lebron} prediksi error{est_lebron-gaji_leBron}')

# est_giannis = model3.predict(Giannis)
# print(f'prediksi gaji LeBron:{est_giannis} prediksi error{est_giannis-gaji_Giannis}')

prediksi gaji:[36941924.57458478] prediksi error[-494933.42541522]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but ElasticNetCV was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
# Kondisi atribut data LeBron James tahun 2024
leBron2024 = [[97, 2.06, 113.4, 40, 21]]

# prediksi gaji di 2024
est2024 = model4.predict(leBron2024)

print(est2024)

[39218329.67593774]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but ElasticNetCV was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, ElasticNetCV
from sklearn.metrics import mean_absolute_error


df = pd.read_csv('https://raw.githubusercontent.com/smirzap/AI-dengan-DL/main/NBA-2K.csv')

# tetapkan 5 kolom utama bernilai numerik untuk pelatihan model
data_pokok = df[['rating', 'height_in_m', 'weight_in_kg', 'current_age', 'year_played']]

data_label = df['salary']

# pecah data (data_pokok dan data_label) dengan
# 80% untuk Training Set dan 20% untuk Test Set:
data_pokok_train, data_pokok_test, data_label_train, data_label_test = train_test_split(data_pokok, data_label, test_size=0.2, random_state=42)

# Buat model Regresi Linear dengan dua algoritme pembelajaran yang berbeda

model1 = LinearRegression()
model2 = ElasticNetCV(
l1_ratio=[.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.], cv=5)

# Latih model dengan Training Set
model1.fit(data_pokok_train, data_label_train)
model2.fit(data_pokok_train, data_label_train)

# Evaluasi kinerja model dengan menggunakan Test Set

prediksi1 = model1.predict(data_pokok_test)
MAE1 = mean_absolute_error(y_test, prediksi1)
print(f'Model1: {MAE1}')

prediksi2 = model2.predict(data_pokok_test)
MAE2 = mean_absolute_error(y_test, prediksi2)
print(f'Model2: {MAE2}')

# Buat model akhir dengan menggunakan seluruh dataset
model2.fit(data_pokok, data_label)

# lihat nilai bias regresi linear dari hasil pelatihan model
print(model4.intercept_)

# lihat bobot regresi linear dari hasil pelatihan model
bobot=pd.DataFrame(data=model2.coef_, index=data_pokok.columns)
print(bobot)


# Estimasi gaji LeBron James tahun 2020
# Catat gaji 2020
gaji2022 = 37436858

# Kondisi atribut data LeBron James tahun 2020
leBron2020 = [[97, 2.06, 113.4, 36, 17]]

# prediksi gaji di 2022
est2022 = model2.predict(leBron2020)

print(f'estimasi gaji: {est2022} dengan kesalahan estimasi: {est2022-gaji2022}')

# Perkiraan gaji LeBron James di tahun 2024
# Kondisi atribut data LeBron James tahun 2024
leBron2024 = [[97, 2.06, 113.4, 40, 21]]

# prediksi gaji di 2024
est2024 = model2.predict(leBron2024)

print(est2024)

Model1: 5137975.589567243
Model2: 5132061.613065206
-83468561.51255384
                         0
rating        1.135758e+06
height_in_m   0.000000e+00
weight_in_kg -3.939494e+04
current_age   2.649809e+05
year_played   3.041204e+05
estimasi gaji: [36941924.57458478] dengan kesalahan estimasi: [-494933.42541522]
[39218329.67593774]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but ElasticNetCV was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but ElasticNetCV was fitted with feature names
  "X does not have valid feature names, but"